body {
    background-color: black;
    color: aliceblue;
}
#banner{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    border: 2px;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: xx-large;
}

.project-div {
    background-color: rgb(25, 25, 25);
    margin: 2vw;
    border-radius: 15px;
    max-width: 50vw;
}

.project-div .title{
    font-size: xx-large;
    padding-left: 1%;
    padding-top: 2%;
}

.project-div .description {
    font-size: larger;
    padding-left: 2%;
    padding-bottom: 1%;
}
